body {
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

header {
    height: 92px;
    /* Added 'px' unit */
    background-color: #043873;
}

/* 
This is a style for logo 
*/

.logo-container {
    float: left;
    /* background-color: aliceblue; */
}

.logo {
    margin-top: 29px;
    margin-left: 220px;
}

.navigation {
    float: left;
}

ul {
    /* Corrected to remove default list bullets */
    /* list-style-type: none;  */
    padding: 0;
    margin: 0;
}

.navigation ul {
    margin-top: 34px;
    margin-left: 300px;

    float: left;
}

.navigation ul li {
    display: inline-block;
    margin-right: 15px;
    color: #fff;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
}
.login-button{
    margin-top: 16px;
    margin-left: 60px;
    background-color: #FFE492;
    border: 0;
    width: 126px;
    height: 60px;
    border-radius: 8px;

}
.try-button {
    width: 227px;
    height: 55px;
    background-color: #4F9CF9;
    border: 0;
    border-radius: 8px;
    color: #fff;
}
.banner{
    height: 829px;
    background-color: #043873;
    background-image: url('./assets/Element.png');
    background-repeat: no-repeat; /* Ensures the background image does not repeat */
    background-size:contain;
    background-position-y: 192px;
    /* float: left; */

}
.banner-left{
    width: 500px;
    float: left;
    margin-top: 234px;
    margin-left: 220px;
}
.banner-right{
    background-color:#DCEBFE;
    float: left;
    width: 500px;
    height: 549px;
    margin-top: 140px;
}

h2 {
    color: #fff;
    font-size: 64;
    font-weight: bold;
}